# pip install -r requirements.txt

selenium>=4.10.0
beautifulsoup4>=4.10.0
requests>=2.25.0
PyPDF2>=3.0.0
lxml>=4.6.0
playwright>=1.10.0
pandas
smolagents>=1.11.0
huggingface-hub>=0.29.2
rich>=13.9.4
duckduckgo-search>=6.3.7
python-dotenv
accelerate>=0.26.0


# playwright install
# playwright install-deps
# sudo apt install npm
# npx playwright codegen https://www.cdti.es

