# Navegació i scraping
playwright==1.43.0
requests

# Tractament de PDFs i HTML
pdfplumber
beautifulsoup4
lxml

# Connexió PostgreSQL
psycopg2-binary

# Azure OpenAI
openai
python-dotenv

# Utilitats addicionals
textwrap3  # suport millorat de textwrap


tabulate
google-adk

azure-core

tiktoken
pdfplumber

pandas


